<h3>Sign in</h3>

<form action="/admin" method="post">
    
<label for="email"><b>email</b></label>
<input type="text" placeholder="enter email" name="email">

<label for="password"><b>password</b></label>
<input type="password" placeholder="enter password" name="password">

<input type="submit" value="login" class="btn">

</form>


<h3>Register</h3>

<form action="/register" method="post">
    
    <label for="firstname"><b>firstname</b></label>
    <input type="text" placeholder="enter firstname" name="firstname">

    <label for="lastname"><b>lastname</b></label>
    <input type="text" placeholder="enter lastname" name="lastname">

    <label for="email"><b>email</b></label>
    <input type="text" placeholder="enter email" name="email">

    <label for="username"><b>username</b></label>
    <input type="text" placeholder="enter username" name="username">
    
    <label for="password"><b>password</b></label>
    <input type="password" placeholder="enter password" name="password">
    
    <input type="submit" value="register" class="btn">
    
    </form>