<div class="author">
  <h1 class="author__heading">Hi, Welcome to Gils! &#128515;</h1>
  <p class="author__body">feel free to Write about anything and everything! </p>
</div>
<img
  src="/img/myPic.jpg"
  alt="me smiling"
  class="hero-image"
  width="981"
  height="982"
/>

<section class="articles">
  <h2 class="article__heading">Latest Posts</h2>
  <ul class="article-ul">
    <li>
        <a href="#">
            <span>Post Title</span>
            <span class="article-list__Date">dates</span>
        </a>
    </li>
    <li>
        <a href="#">
            <span>Post Title</span>
            <span class="article-list__Date">dates</span>
        </a>
    </li>
    <li>
        <a href="#">
            <span>Post Title</span>
            <span class="article-list__Date">dates</span>
        </a>
    </li>
  </ul>

  <a href="#" class="pagination">&lt; View older Posts</a>
</section>
